body {
    background-image: url(../multimidia/692039.jpg);
    background-size: 200%;
    background-attachment: scroll;
    background-position-y: 25%;
    font-family: Arial, Helvetica, sans-serif;
}